#viewport {
    position: relative;
    width: 100%;
    height: 100%;
}

.hidden {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    ime-mode: disabled;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}